* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: #e3f7ff;

}

.nav {
    height: 95px;
    width: 100vw;
    /* background-color: #a7b5bb; */
    /* box-shadow: 5px 5px red; */
    display: flex;
    border-bottom: 2px solid black;
    justify-content: space-between;
    align-items: center
}

.logo {

    /* height: 15vh;
    width: 11vw;
    margin-left: -2vw; */
    margin-left: 0%;
    height: 90px;
    position: relative;
    /* z-index: 1; */
    width: 12vw;
    background-image: url(restaurant-logo-removebg-preview.png);
    background-size: cover;
}

.logoimg {
    /* margin-left: 0%;
    height: 100%;
    position: relative;
    z-index: 1;
    width: 85%;
    background-image: url(restaurant-logo-removebg-preview.png);
    background-size: cover; */
}

/* .options ul {
    display: flex;
} */

ul {
    display: flex;
    padding-right: 3vw;
    font-size: 25px;
    font-weight: 300;
}

li {
    list-style: none;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.8s ease;
}




li:hover {
    transform: scale(1.2);
    text-decoration: underline;
    text-underline-position: under;
}

.content {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    /* flex-wrap: wrap; */
}

.left {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
}

.foodimages {
    height: 30%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.foodimg {
    height: 100%;
    width: 25%;
    background-image: url(food-6950992_1280.jpg);
    background-size: cover;
    margin-left: 2vw;
    border-radius: 50%;
    transition: 0.3s ease-in;

}

.foodimg2 {
    height: 100%;
    width: 25%;
    background-image: url(pizza-2802783_1280.jpg);
    background-size: cover;
    margin-left: 2vw;
    transition: 0.3s ease-in;
    border-radius: 50%;
}

.foodimg3 {
    height: 100%;
    width: 25%;
    background-image: url(noodles.jpg);
    background-size: cover;
    margin-left: 2vw;
    transition: 0.3s ease-in;
    border-radius: 50%;
}

.foodimg:hover {
    overflow: hidden;
    transform: scale(1.1);
}

.foodimg2:hover {
    overflow: hidden;
    transform: scale(1.1);
}

.foodimg3:hover {
    overflow: hidden;
    transform: scale(1.1);
}

.right {
    width: 50%;
    height: 100%;
    /* background-color: #e3f7ff; */
    /* background-color: red; */
    /* padding: 0vh 20vh 0 20vh; */
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;

}

.menu {
    padding: 2% 2%;
    background-color: #ff735c;
    color: white;
    width: 15%;
    font-weight: 600;
    font-size: 100%;
    border: none;
    border-radius: 6px;
    position: absolute;
    top: 10px;
    left: 80%;
    transition: 0.5s ease;
    box-shadow: 2px 2px 15px black;
}

.menu:hover {
    transform: scale(1.1);
}


.img {
    height: 39%;
    width: 50%;
    /* background-image: url(/img_cwh_website/deliveryboy.jpg); */
    /* margin-top: 15vh;
    margin-left: 15vh; */
    /* margin-bottom: ; */
    object-fit: cover;
    /* background-size: contain;
    background-repeat: no-repeat; */
    /* border: 2px solid black; */
    transition: 1s ease;
}

.img img {
    height: 100%;
    width: 100%;
}


.img:hover {
    transform: scale(1.2);
}

.left h2 {
    margin: 7% 5% 0% 5%;
    font-size: 300%;
    line-height: 120%;

}



.left span {
    color: #ff735c;
}

.left p {
    line-height: 100%;
    margin: 2% 4% 2% 4%;
    font-size: 120%;
}

.left button {
    color: white;
    background-color: #ff735c;
    padding: 1.3vh 3vh;
    font-size: 20px;
    margin-left: 35%;
    margin-top: 7%;
    border: none;
    border-radius: 5px;
    transition: 0.5s ease;
    overflow: hidden;
    box-shadow: 2px 2px 15px black;
}

button:hover {
    transform: scale(1.2);
}

.footer {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #807d7c;
}

@media (max-width:600px) {
    .content {
        height: calc(100% - 95px);
        flex-direction: column;
    }

    .left {
        width: 100%;
        height: 65%;
    }


    .right {
        width: 100%;
        height: 35%;
    }

    .img {
        height: 85%;
        width: 70%;
    }

    .foodimages {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .left h2 {
        margin: 2% 2% 0% 2.5%;
        font-size: 150%;
        line-height: 100%;

    }

    .left button {
        padding: 1vh 3vh;
        font-size: 20px;
        margin-left: 30%;
        margin-top: 10%;
    }

    .menu {
        top: -10%;
        left: 42%;
    }
}